.card-img {
    width: 80px;
    min-height: 110px;
}

.card-img-oshi {
    width: 128px;
    min-height: 176px;
}

.card-img.selected::after {
    content: " ";
    height: calc(100% + 6px);
    position: absolute;
    left: -3px;
    top: -3px;
    width: calc(100% + 6px);
    border-style: solid;
    border-width: 2px;
    border-color: var(--bulma-link-text);
    border-radius: 3.7%;
}

.card-img-details {
    width: 50%;
    min-width: 128px;
    min-height: 176px;
}

.card-img-details.big-card {
    width: 100%;
}

/* fix badge text clipping */
.badge.card-amount {
    line-height: 0.8 !important;
    height: unset !important;
}